
<%- include('head', { title: 'Indicators' }) -%>

<h1>Indicators</h1>

<table>
  <tr class="header">
    <th></th>
    <th>Mean</th>
    <th>Median</th>
    <th>Deviance</th>
    <th>SD</th>
    <th>KS-test, α = 0.05</th>
    <th>Critical value</th>
    <th>Passed</th>
  </tr>
  <tr class="pm_1_values">
    <td>PM 1.0</td>
    <td class="mean"></td>
    <td class="median"></td>
    <td class="deviance"></td>
    <td class="sd"></td>
    <td class="ks"></td>
    <td class="critical"></td>
    <td class="passed"></td>
  </tr>
  <tr class="pm_2_5_values">
    <td>PM 2.5</td>
    <td class="mean"></td>
    <td class="median"></td>
    <td class="deviance"></td>
    <td class="sd"></td>
    <td class="ks"></td>
    <td class="critical"></td>
    <td class="passed"></td>
  </tr>
  <tr class="pm_10_values">
    <td>PM 10</td>
    <td class="mean"></td>
    <td class="median"></td>
    <td class="deviance"></td>
    <td class="sd"></td>
    <td class="ks"></td>
    <td class="critical"></td>
    <td class="passed"></td>
  </tr>
  <tr class="co2_values">
    <td>CO2</td>
    <td class="mean"></td>
    <td class="median"></td>
    <td class="deviance"></td>
    <td class="sd"></td>
    <td class="ks"></td>
    <td class="critical"></td>
    <td class="passed"></td>
  </tr>
  <tr class="temperatures_values">
    <td>Temperatures</td>
    <td class="mean"></td>
    <td class="median"></td>
    <td class="deviance"></td>
    <td class="sd"></td>
    <td class="ks"></td>
    <td class="critical"></td>
    <td class="passed"></td>
  </tr>
  <tr class="humidity_values">
    <td>Humidity</td>
    <td class="mean"></td>
    <td class="median"></td>
    <td class="deviance"></td>
    <td class="sd"></td>
    <td class="ks"></td>
    <td class="critical"></td>
    <td class="passed"></td>
  </tr>
  <tr class="wind_speed_values">
    <td>Wind Speed</td>
    <td class="mean"></td>
    <td class="median"></td>
    <td class="deviance"></td>
    <td class="sd"></td>
    <td class="ks"></td>
    <td class="critical"></td>
    <td class="passed"></td>
  </tr>
</table>

<h1>Correlation and regression</h1>
<table id="corelation-regression">
  <tr class="c-header">
    <th></th>
    <th>Correlation coeff</th>
    <th>Test Statistic</th>
    <th>Critical Value</th>
    <th>Is Significant</th>
    <th>Regression Intercept</th>
    <th>Regression Slope</th>
    <th>Test Statistic Intercept</th>
    <th>Test Statistic Slope</th>
    <th>P-value Intercept</th>
    <th>P-value Slope</th>
    <th>Passed, α = 0.05</th>
  </tr>
</table>

<script src="indicators.js"></script>
<%- include('foot') -%>

<style>
table {
  border-collapse: collapse;
}
td, th {
  border: 1px solid black;
  padding: 10px;
}
#corelation-regression {
  margin-top: 50px;
}
</style>
