
<%- include('head', { title: 'Statistics' }) -%>

<h1>Statistics</h1>
<a href="/indicators">Statistic indicators</a>
<div class="main">
  <div class="sidebar"></div>
  <div class="content">
    <canvas style="max-height: 626px;" id="myChart_CO2"></canvas>
    <canvas style="max-height: 626px;" id="myChart_PM1"></canvas>
    <canvas style="max-height: 626px;" id="myChart_PM2_5"></canvas>
    <canvas style="max-height: 626px;" id="myChart_PM10"></canvas>
    <canvas id="all_by_wind_speed"></canvas>
    <canvas id="dust_hourly"></canvas>
    <canvas id="co2_hourly"></canvas>
    <canvas id="dust_wnd"></canvas>
    <canvas id="co2_wnd"></canvas>
    <div>
      <div>
        <div class="inline-block">
          <canvas id="dust_west"></canvas>
        </div>
        <div class="inline-block">
          <canvas id="dust_north"></canvas>
        </div>
      </div>
      <div>
        <div class="inline-block">
          <canvas id="dust_east"></canvas>
        </div>
        <div class="inline-block">
          <canvas id="dust_south"></canvas>
        </div>
      </div>
    </div>
    <canvas id="dust_hum"></canvas>
    <canvas id="co2_hum"></canvas>
    <canvas id="dust_temp"></canvas>
    <canvas id="co2_temp"></canvas>
    <canvas id="co2Hourly"></canvas>
    <canvas id="pm1Hourly"></canvas>
    <canvas id="pm2_5Hourly"></canvas>
    <canvas id="pm10Hourly"></canvas>
    <canvas id="tempToTime"></canvas>
    <canvas id="humidityToTime"></canvas>
    <canvas id="windSpeedToTime"></canvas>

  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/hammerjs@2.0.8"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-zoom@2.0.1/dist/chartjs-plugin-zoom.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-trendline@2.0.5/src/chartjs-plugin-trendline.min.js"></script>
<script src="util.js"></script>
<script src="hourly.js"></script>
<script src="windDir.js"></script>
<script src="humidity.js"></script>
<script src="temperature.js"></script>
<script src="overall.js"></script>
<script src="weather.js"></script>

<script src="graph.js"></script>

<style>
.sidebar {
  display: inline-block;
  width: 20%;
}
.content {
  display: inline-block;
  width: 70%;
}
canvas {
  margin-bottom: 80px;
}
.inline-block {
  display: inline-block;
  width: 550px;
}
</style>

<%- include('foot') -%>
